// --- color css information

$primary: #0867ab;
$secondary: #018837;
$primaryText: #333;

// --- text css information --------
$big-heading: 4rem;
$title-heading: 2.5rem;
$sub-title-heading: 1.5rem;
$paragraph-text: 1.15rem;
