@import "../../assets/scss/variables", "../../assets/scss/reset", "../../assets/scss/common", "../../assets/scss/mixins";
.home {
    &__swiper {
        height: 400px;
        position: relative;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include tablet {
            height: 400px;
        }
        @include mobile {
            height: 300px;
        }
        &::before {
            @extend %before_after;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.36);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(2.8px);
            -webkit-backdrop-filter: blur(3.8px);
            z-index: 2;
        }
    }
    &__hero {
        position: relative;
        z-index: 5;
        overflow: hidden;
        &--content {
            position: absolute;
            z-index: 1;
        }
        img {
            width: 100%;
            object-fit: contain;
        }
    }
}
.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    &-active {
        width: 15px;
        height: 15px;
        background-color: $secondary;
    }
}
