@import "../../assets/scss/variables", "../../assets/scss/reset", "../../assets/scss/common", "../../assets/scss/mixins";
.header {
    // background-color: lighten($color: $primary, $amount: 63);
    background-color: #fff;
    transition: 0.3s;
    top: -20px;
    &.sticky {
        position: sticky;
        top: 0;
        box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.2);
        z-index: 999;
    }
    .navbar {
        @include flex(row, space-between, center);
        @include tablet {
            display: block;
        }
        &-brand {
            width: 175px;
        }
        &-collapse {
            flex-grow: inherit;

            &.show {
                @include tablet {
                    animation: fadeIn 0.3s;
                }
            }
        }
        &-nav {
            li {
                &:not(:last-child) {
                    margin-right: 1rem;
                    @include tablet {
                        border-bottom: 1px solid rgba($color: $primary, $alpha: 0.1);
                    }
                }
                a {
                    position: relative;
                    color: $primaryText;
                    transition: 0.3s ease-in-out;
                    @include tablet {
                        display: inline-block;
                        padding: 10px 0;
                        line-height: 1;
                    }
                    &::before {
                        @extend %before_after;
                        width: 0;
                        height: 2px;
                        border-radius: 50px;
                        overflow: hidden;
                        background-color: $secondary;
                        bottom: -5px;
                        left: 0;
                        transition: 0.3s ease-in-out;
                        z-index: 1;
                        @include tablet {
                            bottom: -2px;
                            height: 4px;
                        }
                    }
                    &:hover {
                        color: $secondary;
                        &::before {
                            width: 80%;
                            @include tablet {
                                width: 100%;
                            }
                        }
                    }
                    &.active {
                        color: $secondary;
                        &::before {
                            width: 80%;
                            @include tablet {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
